@import "../../../styles/include-media.scss";

.body {
    composes: section from "../../../styles/layout.module.scss";

    padding: 1.5em 1.5em 0;

    font-size: 0.9em;

    @include media(">=phone", "portrait") {
        font-size: 1em;
    }

    @include media(">=tablet", "landscape") {
        font-size: 1em;
    }

    @include media(">=desktop") {
        font-size: 1.1em;
    }

    @include media(">=widescreen") {
        font-size: 1.3em;
    }
}

.container {
    height: 100%;
    max-width: 1600px;
    margin: auto;

    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas: "header" "list";

    @include media(">=tablet", "landscape") {
        grid-template-rows: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "header list";
        grid-gap: 2em;
        justify-items: center;
    }
}

.header {
    grid-area: header;

    @include media(">=tablet", "portrait") {
        justify-self: center;
        width: 600px;
    }

    @include media(">=tablet", "landscape") {
        align-self: center;
        padding: 1em;
    }

    @include media(">=desktop", "landscape") {
        max-width: 600px;
    }
}

.title {
    composes: main_text from "../../../styles/fonts.module.scss";
    font-size: 1.5em;
    text-align: center;
}

.description {
    composes: description_text from "../../../styles/fonts.module.scss";
    text-align: center;
}

.platformSelector {
    width: 100%;
    margin: 1em 0;

    form {
        display: flex;
        justify-content: space-around;

        width: 100%;

        padding: 1em 0;

        @include media(">=desktop", "landscape") {
            margin: 0 auto;
            max-width: 350px;
        }

        label {
            display: block;

            width: 35px;
            height: 35px;

            @include media(">=phone", "portrait") {
                width: 45px;
                height: 45px;
            }

            @include media(">=desktop") {
                width: 50px;
                height: 50px;
            }

            cursor: pointer;

            .platform {
                appearance: none;
                outline: none;
                display: block;
                cursor: pointer;

                background-size: contain;
                width: 100%;
                height: 100%;

                transition: transform 0.15s ease-in;

                border-radius: 50%;

                top: 0;
                left: 0;

                padding: 0;
                margin: 0;

                &:checked {
                    transform: scale(1.3);
                }
            }
        }
    }
}

.courses {
    cursor: grab;
    grid-area: list;
    display: flex;
    flex-direction: column;
    justify-self: center;

    transition: opacity 0.2s ease;

    width: 90%;
    height: 100%;
    overflow: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    @include media(">=tablet", "portrait") {
        justify-self: center;
        width: 600px;
    }

    @include media(">=tablet", "landscape") {
        width: 100%;
        padding: 0 1em;
    }

    @include media(">=desktop", "landscape") {
        max-width: 600px;
    }

    > div {
        flex: none;
    }
}
