@import "../../styles/include-media.scss";

.body {
    composes: section from "../../styles/layout.module.scss";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: linear-gradient(0.2turn, #050a1d, #03050c);

    font-size: 1em;

    @include media(">=phone", "portrait") {
        font-size: 1.25em;
    }

    @include media(">=tablet", "landscape") {
        padding-top: 3.5em;
    }

    @include media(">=widescreen") {
        font-size: 1.3em;
    }
}

.title {
    composes: main_text from "../../styles/fonts.module.scss";
    font-size: 1.7em;
    margin: 0;

    position: relative;
    z-index: 10;

    @include media(">=tablet", "portrait") {
        font-size: 2em;
    }

    @include media(">=tablet", "landscape") {
        font-size: 2.2em;
    }

    @include media(">=desktop") {
        font-size: 2.5em;
    }
}

.titleUp {
    composes: title;
    transform: translateX(-80px);
}

.titleDown {
    composes: title;
    transform: translateX(80px);
}
