.body {
    composes: section from "../../styles/layout.module.scss";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: linear-gradient(0.2turn, #050a1d, #03050c);

    font-size: 1.5em;
}

.title {
    composes: main_text from "../../styles/fonts.module.scss";
    font-size: 1.5em;
    margin: 0;

    position: relative;
    z-index: 10;
}

.titleUp {
    composes: title;
    transform: translateX(-80px);
}

.titleDown {
    composes: title;
    transform: translateX(80px);
}
