@import "../../../../styles/include-media.scss";

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;

    @include media(">=tablet", "landscape") {
        height: 50%;
        max-width: 40%;
        padding: 1em;
    }

    &.open {
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;

        @include media(">=tablet", "landscape") {
            right: 0;
            margin: 0;
        }

        .body {
            position: relative;
            z-index: 50;
            margin: 0;
            border-radius: 0;
            height: calc(var(--vh, 1vh) * 40);

            @include media(">=tablet", "landscape") {
                height: calc(var(--vh, 1vh) * 100);
            }
        }

        .description {
            @include media(">=tablet", "landscape") {
                height: calc(var(--vh, 1vh) * 100);
                padding: 0 2.5em;

                justify-content: center;
                align-items: center;
            }

            .descriptionContainer {
                @include media(">=tablet", "portrait") {
                    max-width: 400px;
                    span {
                        text-align: center;
                    }
                }

                @include media(">=tablet", "portrait") {
                    max-width: 600px;
                }
            }
        }

        .headerContainer {
            width: 100vw;

            @include media(">=tablet", "landscape") {
                display: flex;
                flex-direction: row-reverse;
            }

            .body {
                @include media(">=tablet", "landscape") {
                    flex: 6;
                }
            }

            .description {
                @include media(">=tablet", "landscape") {
                    flex: 4;
                }
            }
        }
    }
}

.description {
    composes: description_text from "../../../../styles/fonts.module.scss";
    position: relative;
    z-index: 40;
    color: white;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: calc(var(--vh, 1vh) * 60);
    padding: 0 1.5em;

    span {
        display: block;
        width: 100%;
    }

    @include media(">=tablet", "portrait") {
        align-items: center;
        padding: 2.5em 2.5em 0;

        span {
            text-align: center;
        }
    }

    @include media(">=desktop", "landscape") {
        padding: 2.5em;
    }
}

.body {
    width: 100%;
    height: calc(var(--vh, 1vh) * 30);

    margin: 15px 0;

    overflow: hidden;

    border-radius: 1em;

    cursor: pointer;

    @include media(">=tablet", "landscape") {
        margin: 0;
        height: 100%;
    }

    .hero {
        position: relative;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}

.descriptionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 1em;
    max-width: 600px;

    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }

    > p {
        width: 100%;
    }
}

.label {
    font-size: 0.9em;
    color: white;

    position: absolute;
    bottom: 1em;
    right: 1em;

    padding: 0.5em 1em;
    border-radius: 1.5em;

    background: #03050c;
}

.link {
    display: inline-block;
    text-align: center;
    border-radius: 2.5em;

    color: white;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.025);
    padding: 0.8em 1.4em;
    margin: 1em 0;

    width: 100%;

    @include media(">=tablet") {
        width: fit-content;
    }
}
