@import "../../../styles/include-media.scss";

.body {
    composes: section from "../../../styles/layout.module.scss";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: linear-gradient(0.2turn, #050a1d, #03050c);

    @include media(">=tablet", "landscape") {
        padding-top: 3.5em;
    }
}
