.body {
    composes: section from "../../../styles/layout.module.scss";

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: white;
}

.container {
    h1 {
        font-size: 8em;
        margin: 0;
    }
}
