@import "../../../styles/include-media.scss";

.body {
    composes: section from "../../../styles/layout.module.scss";

    display: grid;
    grid-template-rows: auto 1fr;
    padding: 1.5em 0 2.2em;

    @include media(">=tablet", "portrait") {
        padding: 6em 0;
    }

    @include media(">=desktop") {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1.5em 0;
    }
}

.title {
    composes: main_text from "../../../styles/fonts.module.scss";
    // font-size: 1.5em;
    text-align: center;
}

.content {
    width: 100%;
    height: 100%;

    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-padding: 5vw;

    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }

    @include media(">=tablet", "landscape") {
        overflow: hidden;
        scroll-snap-type: none;
        scroll-padding: none;
        display: flex;
    }

    @include media(">=desktop", "landscape") {
        max-height: 600px;
    }

    @include media(">=widescreen", "landscape") {
        max-height: 750px;
    }
}

.grid {
    display: inline-grid;

    grid-template-columns: repeat(3, 85vw);

    margin: 0 15px;

    width: auto;
    height: 100%;

    @include media(">=tablet") {
        margin: 0 150px;
        grid-template-columns: repeat(3, 350px);
    }

    @include media(">=tablet", "landscape") {
        grid-template-columns: repeat(3, minmax(auto, 300px));
        margin: 0 auto;
    }

    @include media(">=widescreen", "landscape") {
        grid-template-columns: repeat(3, minmax(auto, 400px));
    }
}

.column {
    scroll-snap-align: center;
    scroll-snap-stop: always;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}
