@import "../../../../styles/include-media";

.body {
    display: flex;
    justify-content: center;

    position: relative;

    width: 100%;
    max-width: 1200px;

    margin: 15px auto;
    font-size: 1em;
}

.square {
    width: 11em;
    height: auto;
    z-index: 10;

    @include media(">=desktop") {
        width: 15em;
        height: auto;
    }

    @include media(">widescreen") {
        width: 20em;
    }
}

.picture {
    overflow: hidden;
    position: absolute;
    text-align: center;
    z-index: 20;
    bottom: 0.05em;

    @include media(">=desktop") {
        bottom: 0.2em;
    }

    @include media(">widescreen") {
        bottom: 0.35em;
    }
}

.picture img {
    width: 11em;

    @include media(">=desktop") {
        width: 15em;
    }

    @include media(">widescreen") {
        width: 20em;
    }
}
