@import "~@settings/include-media.scss";

.body {
    composes: section from "~@settings/layout.module.scss";

    display: grid;
    grid-template-rows: auto 1fr;
    background: #03050c;
    padding: 1.5em 0;
}

.title {
    composes: main_text from "~@settings/fonts.module.scss";
    font-size: 1.5em;
    text-align: center;
}

.content {
    width: 100%;
    height: 100%;

    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-padding: 5vw;
}

.grid {
    display: inline-grid;

    grid-template-columns: repeat(3, 85vw);

    margin: 0 15px;

    width: auto;
    height: 100%;
}

.column {
    scroll-snap-align: center;
    scroll-snap-stop: always;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}
