@import "~@settings/include-media.scss";

.body {
    composes: section from "~@settings/layout.module.scss";

    display: grid;
    grid-template-rows: auto 1fr;
    background: #03050c;
    padding: 1.5em;
}

.title {
    composes: main_text from "~@settings/fonts.module.scss";
    font-size: 1.5em;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(100%, 3);
}

.card {
    align-self: stretch;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.01);
    border-radius: 1.5em;
    color: white;
    padding: 1em;

    picture {
        display: flex;
        justify-content: center;
        padding: 1em;
    }

    img {
        width: 60%;
        border-radius: 50%;
    }
}

.items {
    width: 100%;

    li {
        display: flex;
        justify-content: space-between;
        width: 100%;

        margin: 1em 0;
    }
}
