.body {
    outline: none;
    border: 0;
    border-radius: 2em;
    cursor: pointer;
    color: white;
    z-index: 100;

    composes: navigation_text from "../../styles/fonts.module.scss";
    background-color: #b70128;
    font-weight: 800;
    text-align: center;
    position: fixed;
    top: 1.5em;
    right: 2em;
    padding: 0.5em 1.5em;
    text-transform: uppercase;
}
