@import "~@settings/include-media.scss";

.body {
    composes: section from "~@settings/layout.module.scss";

    display: grid;
    grid-template-rows: auto 1fr;
    background: #03050c;
    padding: 1.5em;
}
