.projects__modal {
    background: rgba(0, 0, 0, 0.6);

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.projects__loading-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
