@import "../../../../../styles/include-media";

.body {
    display: flex;
    justify-content: center;

    position: relative;
    z-index: 10;

    width: 100%;
    max-width: 1200px;

    margin: 15px auto;
}

.square {
    width: 15em;
    height: auto;
    z-index: 10;

    @include media(">=tablet", "landscape") {
        width: 18em;
    }

    @include media(">=desktop") {
        width: 21em;
    }

    @include media(">widescreen") {
        width: 26em;
    }
}

.picture {
    overflow: hidden;
    position: absolute;
    text-align: center;
    z-index: 20;
    bottom: 0.2em;

    @include media(">=tablet", "portrait") {
        bottom: 0.25em;
    }

    @include media(">=tablet", "landscape") {
        bottom: 0.24em;
    }

    @include media(">=desktop") {
        bottom: 0.35em;
    }

    @include media(">widescreen") {
        bottom: 0.6em;
    }
}

.picture img {
    width: 15em;

    @include media(">=tablet", "landscape") {
        width: 18em;
    }

    @include media(">=desktop") {
        width: 21em;
    }

    @include media(">widescreen") {
        width: 26em;
    }
}

.title {
    composes: main_text from "../../../../../styles/fonts.module.scss";
    font-size: 1.7em;
    margin: 0;

    position: relative;
    z-index: 10;

    @include media(">=tablet", "portrait") {
        font-size: 2em;
    }

    @include media(">=tablet", "landscape") {
        font-size: 2.2em;
    }

    @include media(">=desktop") {
        font-size: 2.5em;
    }
}

.titleUp {
    --start-position: 0;
    --final-position: -1em;

    composes: title;
    animation: displacement 5s infinite ease;
    text-align: start;
    min-width: 150px;
}

.titleDown {
    --start-position: 0;
    --final-position: 1em;

    composes: title;
    animation: displacement 5s infinite ease;
    text-align: end;
}

@keyframes displacement {
    0% {
        opacity: 0;
        transform: translateX(var(--start-position));
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        transform: translateX(var(--final-position));
        opacity: 0;
    }
}
