@import "../../../../../styles/include-media";

.body {
    display: flex;
    justify-content: center;

    position: relative;
    z-index: 10;

    width: 100%;
    max-width: 1200px;

    margin: 15px auto;
}

.square {
    width: 13em;
    height: auto;
    z-index: 10;

    @include media(">=tablet", "portrait") {
        width: 16em;
    }

    @include media(">=tablet", "landscape") {
        width: 18em;
    }

    @include media(">=desktop") {
        width: 21em;
    }

    @include media(">widescreen") {
        width: 26em;
    }
}

.picture {
    overflow: hidden;
    position: absolute;
    text-align: center;
    z-index: 20;
    bottom: 0.05em;

    @include media(">=tablet", "portrait") {
        bottom: 0.25em;
    }

    @include media(">=tablet", "landscape") {
        bottom: 0.24em;
    }

    @include media(">=desktop") {
        bottom: 0.4em;
    }

    @include media(">widescreen") {
        bottom: 0.65em;
    }
}

.picture img {
    width: 13em;

    @include media(">=tablet", "portrait") {
        width: 16em;
    }

    @include media(">=tablet", "landscape") {
        width: 18em;
    }

    @include media(">=desktop") {
        width: 21em;
    }

    @include media(">widescreen") {
        width: 26em;
    }
}
