@import "../styles/include-media.scss";

.section {
    background-color: var(--background-flat);
    height: 100%;
    width: 100vw;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;

    position: relative;

    font-size: 1em;

    @include media(">=tablet", "landscape") {
        font-size: 1em;
    }

    @include media(">=tablet", "portrait") {
        font-size: 1.15em;
    }

    @include media(">=laptop") {
        font-size: 1em;
    }

    @include media(">=desktop", "landscape") {
        font-size: 1.1em;
    }

    @include media(">=widescreen") {
        font-size: 1.3em;
    }
}
