.section {
    background-color: var(--background-flat);
    height: 100%;
    width: 100vw;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;

    position: relative;

    // scroll-snap-align: center;
    // scroll-snap-stop: always;
}
